*{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    }
    body{
        scroll-behavior: smooth;
    }
    .sub-forgot{
        background-image: url(../images/top-view-raw-pasta-with-greens-vegetables-white-table.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .home-container-main{
        background :linear-gradient(to bottom right, #dcdcdd, rgb(230, 229, 229));
    }
    
       .drop-in-2 {
        animation: drop-in 1200ms ease 500ms backwards;
       }
       
       @keyframes drop-in {
        from {
         opacity: 0;
         transform: translateY(-100px);
        }
        to {
         opacity: 1;
         transform: translate(0px);
        }
       }