*{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    }
    body{
        scroll-behavior: smooth;
    }
    .signup-container{
        background: linear-gradient(to bottom right, rgb(245, 245, 245), rgb(230, 230, 230));
        
    }
    .sub-signup{
        background: url(../images/signup-background-image.jpg);
        background-repeat: no-repeat;
        background-size: 135%;
    }
    
   .drop-in-2 {
    animation: drop-in 1200ms ease 500ms backwards;
   }
   
   @keyframes drop-in {
    from {
     opacity: 0;
     transform: translateY(-100px);
    }
    to {
     opacity: 1;
     transform: translate(0px);
    }
   }
   @media only screen and (max-width: 767px) {
    .sub-signup{
        background: linear-gradient(to bottom right, rgb(245, 245, 245), rgb(230, 230, 230));
    }
    .signup-container{
        padding: 0 !important;
    }
   
   }
